.header{
    margin-top: 50px;
    height: 50px;
    display: flex;
    gap:50px;
}
.headerSearch{
    border-radius: 10px;
    background-color: #F4F6FA;
    width: 900px;
    display: flex;
    position: relative;

}
.searchButton{
    border-radius: 10px 0 0 10px;
    background-color: #F4F6FA;
    width:300px;
    height:50px;
    border: none;
}
.searchInput{
        border-radius: 0 10px 10px 0;
    background-color: #F4F6FA;
    border: none;
    height: 50px;
    width:100%;
}
.icon{

    background-color: #F4F6FA;
    font-size: 25px;
    position: absolute;
    top:50%;
    right: 10px;
    transform: translateY(-50%);
}
.headerIcon{
   
    display: flex;
    gap:20px;
    position: relative;
}
.iconRight{
    font-size: 30px;
    position:absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
}
.iconRightpv{
     font-size: 30px;
    position:absolute;
    top: 50%;
    left: 50px;
    transform: translateY(-50%);
}
.cart{
    width: 80px;
    height: 40px;
   position: relative;
}
.SearchP{
    border-radius: 50%;
    width: 20px;
    height: 23px;
    background-color: red;
    position: absolute;
    top:-15px;
    right:-10px;
}